*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgb(45, 213, 236);
    
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    /* opacity: 0.5; */
    cursor: pointer;
    border-radius: 50%;
    background-color: #081b31;
  
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
                            
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2 rem;
    gap: 5rem;
    margin-top: 3rem;
}

#user-score,
#computer-score {
    font-size: 4rem;
}

.mes-container{
    margin-top: 10rem;
    
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    border-radius:2rem;
    font-family: 'Times New Roman', Times, serif;
    border: 2 px solid #081b31;
    padding: 1rem;

}

#msg:hover {
    cursor: pointer;
    opacity: 0.5;
}